<div class="container footer_widgets_count_3">
        <div class="footer-widgets">
            <aside class="widget widget-default widget-footer widget_pages">
                <div class="widgettitle widget-footer-title">
                    <h4>Site Map</h4>
                </div>
                <ul>
                   <li class="page_item page-item-8737">
                       <a href="">About Us</a>
                    </li>
                   <li class="page_item page-item-12030">
                       <a href="">Ads Monetization</a>
                   </li>
                   <li class="page_item page-item-11076">
                       <a href="">Brand Style Guide</a>
                    </li>
                   <li class="page_item page-item-8738">
                       <a href="">Contact Us</a>
                    </li>
                   <li class="page_item page-item-4281 current_page_item">
                       <a href="">FAQs</a>
                    </li>
                   <li class="page_item page-item-11708">
                       <a href="">H1 2019 User Acquisition Report</a>
                    </li>
                   <li class="page_item page-item-9627">
                       <a href="">News</a>
                    </li>
                   <li class="page_item page-item-10755">
                       <a href="">Privacy Policy</a>
                    </li>
                   <li class="page_item page-item-12337">
                       <a href="">Services</a>
                    </li>
                   <li class="page_item page-item-4113">
                       <a href="#">Stores</a>
                    </li>
                </ul>
            </aside>
            <aside class="widget widget-default widget-footer stm_custom_menu stm_custom_menu_style_1">
                <div class="widgettitle widget-footer-title">
                    <h4>Terms & Conditions</h4>
                </div>
                <div class="menu-privacy-policies-container">
                    <ul class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8799">
                            <a href="">Terms of Use</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8798">
                            <a href="">Privacy Policy</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8797">
                            <a href="">Partner Program Policy</a>
                        </li>
                    </ul>
                </div>
            </aside>
            <aside class="widget widget-default widget-footer widget_follow widget_follow_style_1">
                <div class="widgettitle widget-footer-title">
                    <h4>Follow Us</h4>
                </div>
                <div class="widget_follow_inner">
                    <div class="stm-icontext stm-icontext_style1 stm-icontext__facebook_link">
                        <a href="#">
                            <i class="stm-icontext__icon fa fa-facebook"></i>
                            <span class="stm-icontext__text"></span>
                        </a>
                    </div>
                    <div class="stm-icontext stm-icontext_style1 stm-icontext__twitter_link">
                        <a href="#">
                            <i class="stm-icontext__icon fa fa-twitter"></i>
                            <span class="stm-icontext__text"></span>
                        </a>
                    </div>
                    <div class="stm-icontext stm-icontext_style1 stm-icontext__youtube_link">
                        <a href="#">
                            <i class="stm-icontext__icon fa fa-youtube-play"></i>
                            <span class="stm-icontext__text"></span>
                        </a>
                    </div>
                </div>
            </aside>
        </div>
        <div class="stm-footer__bottom">
            <div class="stm_markup stm_markup_50">
                <div class="stm_markup__content stm_mf stm_bottom_copyright">
                    <span>Copyright ©</span>
                    <span>2020</span>
                    <span>APPTUTTi All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>