<div class="stm-header__row_color stm-header__row_color_top">
    <div class="container">
        <div class="stm-header__row stm-header__row_top">
            <div class="stm-header__cell stm-header__cell_right">
                <!--内容  -->
               <div class="stm-header__element object424 stm-header__element_">
                   <div class="stm-icontext">
                       <i class="stm-icontext__icon mtc stmicon-bon-envelope fsz_14">
                       </i>
                       <sapn class="stm-icontext__text fsz_16">
                               info@apptutti.com            
                       </sapn>
                   </div>
                </div>
                <!-- 图标 -->
                <div class="stm-header__element object466 stm-header__element_square">
                       <div class="stm-socials">
                           <a href="#" class="stm-socials__icon icon_16px stm-socials__icon_square">
                               <i class="fa fa-facebook"></i>
                           </a>
                           <a href="#" class="stm-socials__icon icon_16px stm-socials__icon_square">
                               <i class="fa fa-twitter"></i>
                           </a>
                           <a href="#" class="stm-socials__icon icon_16px stm-socials__icon_square">
                               <i class="fa fa-linkedin"></i>
                           </a>
                           <a href="#" class="stm-socials__icon icon_16px stm-socials__icon_square">
                               <i class="fa fa-youtube"></i>
                           </a>
                       </div>
                </div>
                <!-- 登录注册 -->
                <div class="stm-header__element object628 stm-header__element_default">
                   <div class="div">
                       <a href="#" class="">登录</a>
                       |
                       <a href="#" class="">注册</a>
                   </div>
                </div>
                <!-- 搜索框 -->
                <div class="stm-header__element object494 stm-header__element_">
                       <div class="stm-search stm-search_style_1">
                           <a href="" class="mbdc wtc_h mbc_h hidden-sm hidden-xs">
                               <i class="stm-search__icon stm-search__icon_rounded icon_14px  fa fa-search"></i>
                           </a>
                       </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="stm-header__row_color stm-header__row_color_center">
  <div class="container">
      <div class="stm-header__row stm-header__row_center">
          <div class="stm-header__cell stm-header__cell_left">
               <div class="stm-logo">
                   <a href="#">
                       <img width="623" height="124" style="width: 224px;" src="../image/white-logo.png" alt="site_log" class="attachment-full size-full">
                   </a>
               </div>
          </div>
          <div class="stm-header__cell stm-header__cell_right">
              <div class="stm-header__element object1285 stm-header__element_default">
                  <div class="stm-navigation heading_font stm-navigation__default stm-navigation__default stm-navigation__line_bottom stm-navigation__fwn">
                      <ul>
                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-8791">
                              <a href="#">Home</a>
                          </li>
                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8780">
                           <a href="">About</a>
                           </li>
                           <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-11510">
                           <a href="">Stores</a>
                           </li>
                           <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-11510">
                               <a href="">Services</a>
                               <ul>
                                   <li class="menu-item menu-item-type-post_type menu-item-object-stm_services menu-item-11157 stm_col_width_default stm_mega_cols_inside_default"><a href="">Standard Package (RSPP)</a></li>
                                   <li class="menu-item menu-item-type-post_type menu-item-object-stm_services menu-item-11513 stm_col_width_default stm_mega_cols_inside_default"><a href="">Premium Package (DDCP)</a></li>
                                   <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8793 stm_col_width_default stm_mega_cols_inside_default"><a href="">Partner Financing Program</a></li>
                               </ul>
                           </li>
                           <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12324">
                           <a href="">News</a>
                           </li>
                           <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4281 current_page_item menu-item-8782">
                           <a href="">FAQs</a>
                           </li>
                           <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8781">
                           <a href="">Contact us</a>
                           </li>
                           <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11069">
                           <a href="">Try it for Free!</a>
                           </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>