<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/Basic.css" type="text/css"/>
    <link rel="stylesheet" href="../css/public.css" type="text/css"/>
    <link rel="stylesheet" href="../fonts/font-awesome.min.css" type="text/css"/>
</head>
<body class="page-template-default page page-id-4281 user-registration-page stm_header_transparent stm_title_box_style_2 stm_title_box_enabled stm_form_style_6 stm_breadcrumbs_disabled  stm_pagination_style_17 stm_blockquote_style_3 stm_lists_style_3 stm_sidebar_style_19 stm_header_style_19 stm_post_style_2 stm_tabs_style_2 stm_tour_style_1 stm_buttons_style_7 stm_accordions_style_2 stm_projects_style_default stm_events_layout_1 stm_footer_layout_2 error_page_style_3 stm_shop_layout_business stm_products_style_left stm_header_sticky_1 stm_post_view_list stm_layout_company wpb-js-composer js-comp-ver-6.0.5 vc_responsive" style="background-color:ffffff;">
    <!-- wrapper start -->
    <div id="wrapper" style="min-height: 107px;">
        <div class="stm-header">
            <div class="stm-header__row_color stm-header__row_color_top">
                 <div class="container">
                     <div class="stm-header__row stm-header__row_top">
                         <div class="stm-header__cell stm-header__cell_right">
                             <!--内容  -->
                            <div class="stm-header__element object424 stm-header__element_">
                                <div class="stm-icontext">
                                    <i class="stm-icontext__icon mtc stmicon-bon-envelope fsz_14">
                                    </i>
                                    <sapn class="stm-icontext__text fsz_16">
                                            info@apptutti.com            
                                    </sapn>
                                </div>
                             </div>
                             <!-- 图标 -->
                             <div class="stm-header__element object466 stm-header__element_square">
                                    <div class="stm-socials">
                                        <a href="#" class="stm-socials__icon icon_16px stm-socials__icon_square">
                                            <i class=""></i>
                                        </a>
                                        <a href="#" class="stm-socials__icon icon_16px stm-socials__icon_square">
                                            <i class=""></i>
                                        </a>
                                        <a href="#" class="stm-socials__icon icon_16px stm-socials__icon_square">
                                            <i class=""></i>
                                        </a>
                                        <a href="#" class="stm-socials__icon icon_16px stm-socials__icon_square">
                                            <i class=""></i>
                                        </a>
                                    </div>
                             </div>
                             <!-- 登录注册 -->
                             <div class="stm-header__element object628 stm-header__element_default">
                                <div class="div">
                                    <a href="#" class="">登录</a>
                                    |
                                    <a href="#" class="">注册</a>
                                </div>
                             </div>
                             <!-- 搜索框 -->
                             <div class="stm-header__element object494 stm-header__element_">
                                    <div class="stm-search stm-search_style_1">
                                        <a href="" class="mbdc wtc_h mbc_h hidden-sm hidden-xs">
                                            <i class="stm-search__icon stm-search__icon_rounded icon_14px  fa fa-search"></i>
                                        </a>
                                    </div>
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
            <div class="stm-header__row_color stm-header__row_color_center">

            </div>
        </div>
        <div class="stm-header_overlay"></div>
        <div class="stm_mobile_header"></div>
        <div class="site-content"></div>
    </div>
</body>
</html>