<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rspp-services</title>
    <link href="../css/Basic.css" rel="stylesheet" type="text/css"/>
    <link href="../css/public.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header style="width: 100%;">
        <div class="container">
            <div class="head-top">

            </div>
            <div class="nav">
                <div class="head-content">
                    <a><img src="../image/white-logo.png"/></a>    
                </div>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>

    </header>
    <section>

    </section>
    <!-- footer -->
    <footer>
         <div class="container">
            <div class="f-content">
                <p>Copyright © 2020 APPTUTTi All rights reserved.</p>
            </div>
         </div>
    </footer>
</body>
</html>